#{extends 'userAdmin.html' /}
#{set title:'Modify' /}

<h3>&{'modify_blog'}</h3>
 
#{form}
 
    #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}
 
    <p>
        <label for="title">&{'blog_title'}</label>
        <input type="text" name="title" id="title" value="${blog.title}"/>
    </p>
    <p>
        <label for="content">&{'blog_content'}</label>
        <textarea name="content" id="content">${blog.content}</textarea>
    </p>
 <!--    <p>
    	<label for="code">Please type the code below:</label>
    	<img  src="@{UserAdmin.captcha(randomId)}"/><br/>
    	<input type="text" name="code" id="code" size="18" value=""/>
    	<input type="hidden" name="randomId" value="${randomId}"/>
    	
    </p> -->
    <p>
        <input type="submit" value="save your comment" />
    </p>
#{/form}
